@font-face{
	font-family: 'Butler-Medium';	
	src: url('../fonts/Butler-Medium.eot');	
	src: url('../fonts/Butler-Medium.eot?iefix') format('eot'),
	url('../fonts/Butler-Medium.woff') format('woff'),
	url('../fonts/Butler-Medium.ttf') format('truetype'),
	url('../fonts/Butler-Medium.svg#webfont') format('svg');	
	font-weight: normal;	
	font-style: normal;	
}
@font-face{
	font-family: 'Butler-Bold';	
	src: url('../fonts/Butler-Bold.eot');	
	src: url('../fonts/Butler-Bold.eot?iefix') format('eot'),
	url('../fonts/Butler-Bold.woff') format('woff'),
	url('../fonts/Butler-Bold.ttf') format('truetype'),
	url('../fonts/Butler-Bold.svg#webfont') format('svg');	
	font-weight: bold;	
	font-style: normal;	
}

/* Specification {} */
body {
  font-family: 'Butler-Medium';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
input, button, span, a {
  font-family: 'Butler-Medium';
}
ul, li {
  font-family: 'Butler-Medium';
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Butler-Medium';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div, header, footer, section, form, nav, p, span, a, button, img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
}
input, button, button:active, button:focus {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
p, span {
line-height: 1.3em;
}
.container-fluid, .row, .col {
  margin: 0;
  padding: 0;
}


/* Header {} */
.head-container {
	margin-top: 35px;
}
.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 75px;
}
.nav__header li a {
	color: #484A54;
	font-size: 14px;
	line-height: 20px;
}
.nav__header li a {
	margin-right: 32px;
}
.nav__header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
nav {
	display: flex;
	flex-direction: row;
}
.talk a {
	color: #484A54;
	font-size: 14px;
	line-height: 20px;
	margin-right: 32px;
	width: 104px;
	height: 40px;
	display: block;
	line-height: 38px;
	text-align: center;
	color: white;
	border: 1px solid #18A6DE;
	border-radius: 100px;
	background-color: #18A6DE;
}
.talk a:hover {
	background-color: white;
	color: #18A6DE;
}
/* menu burger {} */
.nav__burger {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25px;
	height: 25px;
	margin-top: 13px;
}
.line1, .line2 {
	width: 25px;
	height: 2px;
	background-color: #484A54;
	margin-bottom: 3px;
}
.line3 {
	color: #484A54;
	font-size: 8px;
}

/* Propose {} */
.propose__container {
	display: flex;
	flex-direction: row;
}
.propose__text {
	min-width: 770px;
	padding-left: 70px;
	padding-top: 175px;
	position: relative;
	z-index: 20;
}
.propose__text h1 {
	font-family: 'Butler-Bold';
	color: #293E59;
	font-size: 72px;
}
.propose__text1 {
	color: #9B9B9B;
	font-size: 16px;
	margin-top: 15px;
}
.propose__text a {
	display: block;
	width: 119px;
	border: 2px solid #18A6DE;
	border-radius: 100px;
	color: #18A6DE;
	font-size: 14px;
	margin-top: 30px;
	padding: 9px 0;
	text-align: center;
}
.propose__text a:hover {
	background-color: #18A6DE;
	color: white;
}

/* Propose image {} */
.propose__image {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 70px;
	margin-left: -400px;
	position: relative;
	z-index: 10;
}
.blu__text {
	margin-right: 25px;
	padding-bottom: 25px;
	width: 135px;
}
.blu__text1 {
	font-size: 24px;
	color: #484A54;
	padding-left: 25px;
}
.blu__text2 {
	font-size: 12px;
	color: #9B9B9B;
}

/* carusel {} */
.propose__carusel {
	width: 755px;
	height: 565px;
}
.propose__carusel div img {
	width: 100%;
	height: 565px;
	z-index: 10;
}
.circle {
	position: relative;
	background-color: #80C7E5;
	width: 880px;
	height: 880px;
	border-radius: 50%;
	opacity: 56%;
	z-index: 1;
	margin-top: -640px;
	margin-left: 585px;
}

/* pop up {} */
.pop-up {
	position: fixed;
	width: 485px;
	height: 295px;
	background-color: #293E59;
	padding: 48px 10px 48px 48px;
	right: 0;
	z-index: 30;
	bottom: 0;
}
.pop-up__title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	margin-bottom: 17px;
}
.pop-up__title p {
	font-size: 32px;
	font-family: 'Butler-Bold';
	color: white;	
}
.pop-up__title i {
	font-size: 25px;
	color: white;	
	opacity: 0.5;
}
.pop-up p {
	font-family: 'Butler-Medium';
}
.form-control, .btn-outline-secondary {
	background: transparent;
	border: transparent;
}
.input-group {
	border-bottom: 1px solid white;
}
.weekly-email {
	color: white;
	font-size: 14px;
	margin-bottom: 41px;
}
.input-group-append i {
	color: w#CACACA;
	font-size: 14px;
}
.form-check-label {
	color: white;
	font-size: 12px;
	font-family: 'Butler-Medium';
}

/* busines text {} */
.business__container {
	display: flex;
	justify-content: center;
}
.business__text {
	max-width: 900px;
	text-align: center;
	margin-top: 120px;
	font-size: 32px;
	color: #484A54;
	margin-bottom: 200px;
	position: relative;
	z-index: 10;
}

/* busines solutions {} */
.solutions, .business__help {
	position: relative;
	z-index: 10;
}

.business__help h2 {
	color: #293E59;
	font-size: 48px;
	margin-top: 100px;
}
.business__help a {
	display: inline-block;
	border: 2px solid #18A6DE;
	border-radius: 100px;
	color: #18A6DE;
	font-size: 14px;
	margin-top: 20px;
	padding: 9px 19px;
	text-align: center;
}
.business__help a:hover {
	background-color: #18A6DE;
	color: white;
}
.solutions_1 {
	opacity: 48%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 50px;
}
.idea {
	font-family: 'Butler-Bold';
	font-size: 32px;
	max-width: 200px;	
	text-align: right;
}
.answer {
	font-size: 16px;
	max-width: 420px;
	text-align: left;
}
.line-conection {
	opacity: 0;
	width: 40px;
	height: 1px;
	background-color: #18A6DE;
}
.solutions_1:hover {
	opacity: 100%;
}
.solutions_1:hover .line-conection {
	opacity: 100%;
}
.business__blue {
	width: 1400px;
	height: 1400px;
	background-color: #e1f0f8;
	border-radius: 50%;
	position: relative;
	margin-top: -800px;
	border: 250px solid #edf6fc;
	z-index: 1;
} 

/* choose {} */
.choose {
  background: url(../img/Rectangle.jpeg) no-repeat center top / cover ;
	height: 600px;
	margin-top: -450px;
	position: relative;
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	padding: 175px 110px;
}
.choose__text {
	width: 420px;
}
.choose__text h2 {
	color: white;
	font-size: 48px;
	text-align: right;
	line-height: 56px;
	margin-bottom: 25px;
}
.choose__text p {
	color: white;
	font-size: 16px;
	text-align: right;
	margin-bottom: 25px;
}
.choose__text a {
	display: block;
	width: 119px;
	border: 2px solid white;
	border-radius: 100px;
	color: white;
	font-size: 14px;
	margin-top: 30px;
	padding: 9px 0;
	text-align: center;
	position: relative;
	float: right;
}
.choose a:hover {
	background-color: white;
	color: #18A6DE;
}


/* Adaptive {} */
@media (max-width: 1140px) { 
	.business__text {
		margin-bottom: 60px;
	}
	.business__help h2 {
		margin-top: 60px;
		margin-bottom: 25px;
	}
	.business__help {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		margin-bottom: 70px;
	}
}

@media (min-width: 900px) { 
	.container-fluid {
		padding: 0 50px;
	}
}

@media (max-width: 900px) { 
	.nav__header {
		display: none;
	}
	.solutions_1 {
		opacity: 100%;
	}
}

@media (max-width: 768px) { 
	.answer {
		max-width: 250px;
	} 
 }

@media (max-width: 576px) {
	.solutions_1 {
		flex-direction: column;
	}
	.idea {
		max-width: 550px;
		font-size: 24px;
	}
	.answer {
		max-width: 550px;
	} 
}

@media (max-width: 576px) {  }